doctype 5
html
  head
    title= "Admin"


  body
    div(id='clients')

    script.
        var clients = JSON.parse('!{clients}');
        var inner = '';
        for (key in clients) {
            if (clients[key].length == 0) continue;
            var html = '<h1>' + key + '</h1>';
            for (var i=0;i<clients[key].length;i++) {
                var client = clients[key][i];
                var clientHtml = '';
                if (client.id) {
                    clientHtml += client.type;
                    if (client.type == 'controller') {
                        clientHtml +=  ' ' + client.user_data.name;
                    }
                }
                clientHtml = '<a href="/trololol/kick/' + client.id + '">' + clientHtml + '</a>';
                html += clientHtml + "<br />";
            }

            inner += html;
        }
        document.getElementById('clients').innerHTML = inner;