doctype html
html
  head
    title= title
    
    //- Font
    script(type="text/javascript", src="//use.typekit.net/rxt6ovh.js")
    script(type="text/javascript").
        try{Typekit.load();}catch(e){}

    //- Stylesheets
    link(rel='stylesheet', href='/lib/jquery.mobile.custom.structure.css')
    link(rel='stylesheet', href='/lib/jquery.mobile.custom.theme.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel="apple-touch-icon-precomposed", href="/images/icons/icon-256.png")
    
    //- Utility
    script(type='application/javascript', src='/lib/fastclick.min.js')
    script(type='application/javascript', src='/lib/jquery.1.10.2.min.js')
    script(type='application/javascript', src='/lib/jquery.mobile.custom.min.js')
    script(type='text/javascript', src='/lib/underscore-min.js')
    
    //- Network
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/una_js/una.js')
    
    //- Game engine
    script(type='text/javascript', src='/lib/createjs-0.7.0.min.js')

    //- Meta Tags
    meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description", content="Nutty Ninjas is a real-time shooter that brings the experience of social multiplayer gaming to a whole new level; it is a console-style game that can be played anywhere and anytime, simply with your computer and mobile devices. Multiple players can join a common gameplay screen just by using their mobile devices, and control their ninja character to unleash dangerous weapons at fellow players!")

    meta(property="fb:app_id", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://nuttyninjas.com")
    meta(property="og:title", content="Nutty Ninjas")
    meta(property="og:image", content="http://nuttyninjas.com/images/icons/icon-256.png")
    meta(property="og:description", content="Nutty Ninjas is a real-time shooter that brings the experience of social multiplayer gaming to a whole new level; it is a console-style game that can be played anywhere and anytime, simply with your computer and mobile devices. Multiple players can join a common gameplay screen just by using their mobile devices, and control their ninja character to unleash dangerous weapons at fellow players!.")
    meta(property="og:site_name", content="Yang Shun's Blog")

    //- GA
    script(type='text/javascript', src='/js/misc/ga.js')

    link(rel="apple-touch-startup-image", href="/startup.png")
    link(rel="icon", type="image/png", href="images/favicon.png")
    block header
  body(ng-app, ng-controller="ArenaController")
    block content
