extends layout

block content
  h1 = title
  p Welcome to #{title}
  p#ping Connecting ...
  form(action = '/choose', method = 'post')
    fieldset
      div
        label Room Name : 
        input(type = 'textfield', name = 'room', value = '')
        p (Leave blank to connect to lobby)

      div
        input(type = 'radio', name = 'type', value = 'arena')
        label Arena
        input(type = 'radio', name = 'type', value = 'controller', checked = true)
        label Controller

      div
        input(type = 'submit', value='Enter')
